.services {
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
        @extend %container;
        text-align: center;
    }

    &__title {
        position: relative;
        margin-left: 60px;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 600;
        opacity: 0.7;
        text-align: start;
    }
    
    &__title::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -59px;
        width: 40px;
        height: 5px;
        background-color: $main-blueColor;
        transform: translateY(-50%);
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__box {
        position: relative;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 0 20px;

        width: 370px;
        height: 370px;

        color: #ffffff;
        font-size: 26px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;

        background-color: $main-blueColor;
    }


    &__text {
        position: absolute;
        bottom: 30px;
        right: 30px;

        text-decoration: none;
        color: #ffffff;
    }

    &__button {
        display: inline-block;
        margin-top: 30px;
        padding: 20px 50px;

        text-decoration: none;
        color: $main-blackColor;
        border: 1px solid $main-blackColor;
        background-color: transparent;
    }
}

    @media screen and (max-width: 1199px) {
        .services__item:nth-last-child(n+2) {
            margin-bottom: 20px;
        }
    }